/* Body */
@font-face {
    font-family: "Source Code Pro-Regular";
    src: url("../fonts/Source Code Pro.woff2");
}

html {
    font-size: 66.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Microsoft YaHei", Arial, "Noto Sans", sans-serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #cccccc;
    background-color: #000000;
    padding: 13px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Microsoft YaHei";
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

small,
sub,
sup {
    font-size: 75%;
}

hr {
    border-color: #d415d4;
}

a {
    text-decoration: none;
    color: #cccccc;
}

a:visited {
    color: #cccccc;
}

a:hover {
    color: #00ffff;
    border-bottom: 2px solid #ffcc00;
}

ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #d415d4;
    margin-bottom: 2.5rem;
    background-color: #1b1e24;
}

blockquote p {
    margin-bottom: 0;
}

img,
video {
    height: auto;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

mark {
    background-color: unset;
    color: #ffcc00;
}

em {
    color: #32cd32;
}

.imglogo {
    height: auto;
    max-width: 100%;
    /*margin-top: 5rem;*/
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: all 0.7s;
}

.complete {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.svg-icon {
    display: inline-flex;
    align-self: center;
}

.svg-icon svg {
    height: 1em;
    width: 1em;
    fill: #cccccc
}

.svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
}

.cursor {
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Pre and Code */
pre {
    background-color: #1b1e24;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    font-size: 0.9em;
}

code,
kbd,
samp {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #1b1e24;
    white-space: pre-wrap;
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    font-size: 1em;
}

.codefont {
    font-family: "Source Code Pro-Regular", Consolas, "Hack-Regular", "Lucida Console", "Microsoft YaHei" ,monospace;
}

/* Tables */
table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #1b1e24;
}

/* Buttons, forms and input */
input,
textarea {
    border: 1px solid #32cd32;
}

input:focus,
textarea:focus {
    border: 1px solid #d415d4;
}

textarea {
    width: 100%;
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button],
input[type=file]::file-selector-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #d415d4;
    color: #000000;
    border-radius: 1px;
    border: 1px solid #d415d4;
    cursor: pointer;
    box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type=submit][disabled],
input[type=reset][disabled],
input[type=button][disabled],
input[type=file]::file-selector-button[disabled] {
    cursor: default;
    opacity: 0.5;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
input[type=file]::file-selector-button:hover {
    background-color: #00ffff;
    color: #000000;
    outline: 0;
}

.button:focus-visible,
button:focus-visible,
input[type=submit]:focus-visible,
input[type=reset]:focus-visible,
input[type=button]:focus-visible,
input[type=file]::file-selector-button:focus-visible {
    outline-style: solid;
    outline-width: 2px;
}

textarea,
select,
input {
    color: #32cd32;
    line-height: 1.5;/* 垂直居中优化 */
    padding: 8px;/* 垂直居中内容 */
    margin: 10px;
    background-color: #1b1e24;
    border: 1px solid #1b1e24;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea:focus,
select:focus,
input:focus {
    border: 1px solid #d415d4;
    outline: 0;
}

input[type=checkbox]:focus {
    outline: 1px dotted #d415d4;
}

label,
legend,
fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    border-color: #333333;
}

fieldset>p {
    font-size: 75%;
    font-weight: normal;
    color: #d415d4;
}